# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.lognode_modules/
